.bubbly {
  border: none;
  cursor: pointer;
  position: relative;
  height: 70px;
  width: 70px;
  transition: transform ease-in 0.1s;
  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 150%;
    height: 100%;
    left: -25%;

    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(
        circle,
        $pastelYellow 20%,
        transparent 20%
      ),
      radial-gradient(circle, transparent 20%, $pastelRed 20%, transparent 30%),
      radial-gradient(circle, $pastelPurple 20%, transparent 20%),
      radial-gradient(circle, $pastelGreen 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $peach 15%, transparent 20%),
      radial-gradient(circle, $pastelPurple 20%, transparent 20%),
      radial-gradient(circle, $pastelYellow 20%, transparent 20%),
      radial-gradient(circle, $pastelBlue 20%, transparent 20%),
      radial-gradient(circle, $pastelYellow 20%, transparent 20%);
    background-size:
      30% 30%,
      50% 50%,
      40% 40%,
      50% 50%,
      46% 46%,
      30% 30%,
      40% 40%,
      30% 30%,
      46% 46%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, $peach 20%, transparent 20%),
      radial-gradient(circle, $pastelRed 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $pastelBlue 15%, transparent 20%),
      radial-gradient(circle, $pastelBlue 20%, transparent 20%),
      radial-gradient(circle, $pastelGreen 20%, transparent 20%),
      radial-gradient(circle, $pastelPurple 20%, transparent 20%),
      radial-gradient(circle, $pastelGreen 20%, transparent 20%);
    background-size:
      30% 30%,
      40% 40%,
      36% 36%,
      40% 40%,
      30% 30%,
      20% 20%,
      40% 40%;
    // background-position:
    //   5% 90%,
    //   10% 90%,
    //   10% 90%,
    //   15% 90%,
    //   25% 90%,
    //   25% 90%,
    //   40% 90%,
    //   55% 90%,
    //   70% 90%;
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s infinite;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s infinite;
    }
  }
}

.button {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background-color: $white;
  border-radius: 100px;
  border: none;
  box-shadow:
    inset 0px 0px 0px 3px $pink,
    inset 0px 0px 0px 8px $white,
    inset 0px 0px 0px 12px $yellow;
  color: $black;
  display: flex;
  height: 70px;
  justify-content: center;
  position: absolute;
  transition:
    transform ease-in 0.1s,
    box-shadow ease-in 0.25s;
  width: 70px;

  &:focus {
    outline: 0;
  }
  &:active {
    transform: scale(0.9);
    outline: 0;
  }
  &:disabled {
    cursor: none;
  }
}
.borderOutlineOut {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}
.borderOutlineOut:before {
  content: '';
  position: absolute;
  border: $blue solid 4px;
  border-radius: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.borderOutlineOut:hover:before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}
