.nestedCircles {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.red {
  background-image: radial-gradient(
    circle,
    transparent 48px,
    $red 49px,
    transparent 50px,
    transparent 99px,
    $red 100px,
    transparent 101px,
    transparent 145px,
    $red 146px,
    transparent 147px
  );
}
.orange {
  background-image: radial-gradient(
    circle,
    transparent 48px,
    $orange 49px,
    transparent 50px,
    transparent 99px,
    $orange 100px,
    transparent 101px,
    transparent 145px,
    $orange 146px,
    transparent 147px
  );
}
.yellow {
  transform: scale(0.75);
  background-image: radial-gradient(
    circle,
    transparent 48px,
    $yellow 49px,
    transparent 50px,
    transparent 99px,
    $yellow 100px,
    transparent 101px,
    transparent 145px,
    $yellow 146px,
    transparent 147px
  );
}

.green {
  background-image: radial-gradient(
    circle,
    transparent 48px,
    $green 49px,
    transparent 50px,
    transparent 99px,
    $green 100px,
    transparent 101px,
    transparent 145px,
    $green 146px,
    transparent 147px
  );
}
.blue {
  background-image: radial-gradient(
    circle,
    transparent 48px,
    $darkBlue 49px,
    transparent 50px,
    transparent 99px,
    $darkBlue 100px,
    transparent 101px,
    transparent 145px,
    $darkBlue 146px,
    transparent 147px
  );
}
.purple {
  background-image: radial-gradient(
    circle,
    transparent 48px,
    $purple 49px,
    transparent 50px,
    transparent 99px,
    $purple 100px,
    transparent 101px,
    transparent 145px,
    $purple 146px,
    transparent 147px
  );
}
