.scene {
  height: 600px;
  perspective: 1260px;
  position: absolute;
  width: 400px;
  transform-origin: top left;
  display: none;
  transform: translateX(100vw);
}

.flashCard {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 70px;
  background-color: $white;
  transform-origin: center right;
  transition: transform 0.5s ease-out;

  .borders {
    z-index: 2;
    box-shadow:
      inset 0px 0px 0px 2px $black,
      inset 0px 0px 0px 12px $blue,
      inset 0px 0px 0px 14px $black,
      inset 0px 0px 0px 24px $yellow,
      inset 0px 0px 0px 26px $black,
      inset 0px 0px 0px 36px $pink,
      inset 0px 0px 0px 38px $black;
    padding: 37px;
  }
}

.cardContent {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 15px 20px;
  text-align: left;
}
.question {
  font-size: 36px;
}

.options {
  padding: 5px 0;
  font-size: 24px;
}

.cardFace {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  background-color: $white;
  transform: rotateY(180deg) translateZ(1px);
}

.backCardContent {
  grid-template-rows: 3fr 2fr;
  align-items: center;
  color: $black;
  display: grid;
  justify-content: center;
  padding: 0;
}

.success {
  .icon,
  .floatingIcons {
    color: $green;
  }
  .outer {
    background-color: lighten($green, 40%);
  }
  .inner {
    background-color: lighten($green, 30%);
  }
}

.circle {
  border-radius: 50%;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.outer {
  border-radius: 50%;
  padding: 25px;
}

.inner {
  padding: 20px;
  border-radius: 50%;
}

.footer {
  text-align: center;
}

.header {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.floatingIcons {
  position: absolute;
  display: flex;
  left: 25px;
  right: 25px;
  justify-content: space-between;
}

.upper {
  top: 20px;
}

.lower {
  bottom: 20px;
}

.icon {
  height: 4em;
  width: 4em;
}

.iconLarge {
  width: 1.5em;
  height: 1.5em;
}

.error {
  .icon,
  .floatingIcons {
    color: $red;
  }

  .iconLarge {
    width: 1.5em;
    height: 1.5em;
  }
  .outer {
    background-color: lighten($red, 30%);
  }

  .inner {
    background-color: lighten($red, 20%);
  }
}

.slideOut {
  animation: slideout 1s ease-in forwards;
}

.slideIn {
  display: flex;
  animation: slidein 1s ease-in forwards;
}

.flipped {
  transform: translateX(-100%) rotateY(180deg) translateZ(1px);
}

.bottom {
  bottom: -84px;
  left: -50px;
  position: absolute;
}

.right {
  position: absolute;
  right: -92px;
  top: 63px;
}

.results {
  font-size: 2em;
}
.resultRainbow {
  font-size: 50px;
}
.cardTriangles {
  position: absolute;
  right: 29px;
  bottom: -29px;
}
.downTriangles {
  transform: rotate(180deg);
}

@container (max-height: 700px) {
  .scene {
    height: 650px;
    width: 400px;

    h1 {
      font-size: 30px;
    }
  }
}

@container (max-height: 450px) {
  .scene {
    height: 500px;
    width: 500px;

    h1 {
      font-size: 30px;
    }
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    display: none;
  }

  10% {
    transform: translateX(100vw);
    opacity: 1;
  }

  to {
    display: flex;
    transform: translateX(0vw);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0vw);
    opacity: 1;
    display: flex;
  }

  90% {
    transform: translateX(-110vw);
  }

  to {
    display: none;
    opacity: 0;
  }
}
