$pink: #ff6cdf;
$yellow: #ffd232;
$blue: #7bcef2;
$white: #fefefe;
$black: #2a2a2a;

$red: #f64e4e;
$orange: #fd8320;
$brightYellow: #fff34a;
$green: #0fab3d;
$darkBlue: #0e6aff;
$purple: #a74bc3;

// Pastels
$pastelRed: #f6979d;
$peach: #fab578;
$pastelYellow: #f9e383;
$pastelGreen: #8cd694;
$pastelBlue: #89a6ec;
$pastelPurple: #c987e6;
