.card {
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  color: $black;
  display: grid;
  grid-template-rows: 3fr 2fr;
  height: 350px;
  justify-content: center;
  overflow: visible;
  padding: 15px;
  perspective-origin: center center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.33s ease;
  width: 250px;

  & > * {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 1rem;
  }
  .front {
    background-color: $white;
  }
  .back {
    background-color: $pink;
    transform: rotateY(180deg) translateZ(1px);

    .header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .floatingIcons {
      position: absolute;
      display: flex;
      left: 25px;
      right: 25px;

      justify-content: space-between;

      .iconLarge {
        font-size: 1.5em;
      }
    }
    .upper {
      top: 20px;
    }
    .lower {
      bottom: 20px;
    }
    .error {
      .icon,
      .floatingIcons {
        color: $error;
      }

      .outer {
        background-color: lighten($error, 30%);
      }

      .inner {
        background-color: lighten($error, 20%);
      }
    }

    .success {
      .icon,
      .floatingIcons {
        color: $success;
      }
      .outer {
        background-color: lighten($success, 40%);
      }
      .inner {
        background-color: lighten($success, 30%);
      }
    }

    .circle {
      border-radius: 50%;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }
    .outer {
      border-radius: 50%;
      padding: 25px;
    }
    .inner {
      background-color: lighten(tomato, 20%);
      padding: 20px;
      border-radius: 50%;
    }

    .icon {
      font-size: 4em;
    }
    .footer {
      background: #fff;
      text-align: center;
    }
  }
}
.flipped {
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

.options {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  margin: 10px;
}
